<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include 'template/assets.html' %}
    <!-- CSS link -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Adex</title>
</head>

<body>
    <header class="overflow-hidden">
        {% include 'template/header.html' %}
    </header>

    <main>
        <section class="contact-section" id="about">
            <div class="px py-5">
                <div class="row row-cols-md-2 align-items-center g-5">
                    <div class="col-lg-5">
                        <h3 class="fw-semibold">Contact Us</h3>
                        <p class="pb-2">Feel free to cantact us any time. We will get back to you as soon as we can.</p>
                        <form action="{{ url_for('action.contact') }}" method="POST">
                            {{ form.csrf_token }}
                            <div class="mb-3">
                                 {{ form.name.label(class='form-label') }}
                                 {{ form.name }}
                            </div>
                            <div class="mb-3">
                                 {{ form.surname.label(class='form-label') }}
                                 {{ form.surname }}
                            </div>
                            <div class="mb-3">
                                 {{ form.email.label(class='form-label') }}
                                 {{ form.email }}
                            </div>
                            <div class="mb-3">
                                 {{ form.message.label(class='form-label') }}
                                 {{ form.message }}
                            </div>
                            <button type="submit" class="border-0 rounded-pill fw-semibold">Send Message</button>
                        </form>
                        <div class="social-icon pt-3">
                            <a href="#" class="text-decoration-none">
                              <i class="fa-brands fa-facebook"></i>
                            </a>
                            <a href="#" class="text-decoration-none">
                              <i class="fa-brands fa-twitter"></i>
                            </a>
                            <a href="#" class="text-decoration-none">
                              <i class="fa-brands fa-dribbble"></i>
                            </a>
                            <a href="#" class="text-decoration-none">
                              <i class="fa-brands fa-instagram"></i>
                            </a>
                            <a href="#" class="text-decoration-none">
                              <i class="fa-brands fa-youtube"></i>
                            </a>
                          </div>
                    </div>
                    <div class="col-sm-8 col-lg-7">
                        <img src="{{ url_for('static', filename='images/feature-banner.png') }}" class="d-block mx-lg-auto img-fluid"
                            alt="Bootstrap Themes" width="900" height="550" loading="lazy">
                    </div>
    
    
                </div>
            </div>
            </div>
        </section>
    </main>

    {% include 'template/message.html' %}
    {% include 'template/footer.html' %}

</body>

</html>