  <footer class="py-5 px">
    <div class="row row-cols-md-2 row-cols-1 row-cols-lg-4 row-cols-xl-4">
      <div class="mb-3">
        <img src="{{ url_for('static', filename='images/logo-light.svg') }}" class="pb-3" alt="">
        <p>© 2024 John Doe. <br>All rights reserved.</p>
        <div class="social-icon">
          <a href="#" class="text-decoration-none">
            <i class="fa-brands fa-facebook"></i>
          </a>
          <a href="#" class="text-decoration-none">
            <i class="fa-brands fa-twitter"></i>
          </a>
          <a href="#" class="text-decoration-none">
            <i class="fa-brands fa-dribbble"></i>
          </a>
          <a href="#" class="text-decoration-none">
            <i class="fa-brands fa-instagram"></i>
          </a>
          <a href="#" class="text-decoration-none">
            <i class="fa-brands fa-youtube"></i>
          </a>
        </div>

      </div>

      <div class="mb-3">
        <ul class=" p-0">
          <h5 class="fw-semibold">Get in Touch</h5>
          <li>
            <p>Moonshine St. 14/05 Light City, London, United Kingdom</p>
          </li>
          <li>
            <a href="mailto:info@email.com" class="text-decoration-none">info@email.com</a>
          </li>
          <li>
            <a href="tel:001234567890" class="text-decoration-none">00 (123) 456 78 90</a>
          </li>
        </ul>
      </div>

      <div class="mb-3">
        <h5 class="fw-semibold">Learn More</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#about" class="p-0">About Us</a></li>
          <li class="nav-item mb-2"><a href="{{  url_for('action.comment') }}" class="p-0">Our Story</a></li>
          <li class="nav-item mb-2"><a href="{{ url_for('base.index') }}#projects" class="p-0">Projects</a></li>
          <li class="nav-item mb-2"><a href="{{ url_for('base.terms') }}" class="p-0">Terms of Use</a></li>
<!--          <li class="nav-item mb-2"><a href="#" class="p-0">Privacy Policyx</a></li>-->
        </ul>
      </div>

      <div class=" mb-3">
        <h5 class="fw-semibold">Our Newsletterr</h5>
        <p>Subscribe to our newsletter to get our news & deals delivered to you.</p>
        <form action="{{ url_for('action.newsletter') }}" method="post">
          <div class="">
            <input id="newsletter1" type="email"  placeholder="Email address" name="email">
            <button>Join</button>
          </div>
        </form>
      </div>
    </div>

  </footer>